<main class="container">
    <div class="image-wrapper">
        <img src="../../assets/regnerdetnu-banner.png" alt="RegnerDet.nu – din guide til real-time vejr og nedbør"/>
    </div>
    <div class="px-4 py-5 text-center">
        <h1 class="display-5 fw-bold">Regner det nu?</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Måske – har du overvejet at kigge ud af vinduet?</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-light btn-outline-primary btn-lg px-4 gap-3" (click)="GetCurrentRainingSituation()" aria-label="Tjek om det regner på din nuværende placering">Spørg!</button>
            </div>
            <p [ngStyle]="{'color': (weatherType=== 'rain') ? 'red' : (weatherType === '') ? 'yellow' : 'green'}"
               id="Raining_answer_text" class="lg-12" aria-live="polite">{{IsItRainingText}}</p>
            <p *ngIf="showEstimatedArea" id="estimatedAreaText">(Vurderet placering: {{estimatedArea}})</p>
        </div>
    </div>
</main>
